pipeline/PL_stampedoc_file_metadata_to_ods.json
{
	"name": "PL_stampedoc_file_metadata_to_ods",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Directory File Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_BLOB_esignandestamp_dir",
						"type": "DatasetReference",
						"parameters": {
							"container": "esignandestamp",
							"folder": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach FIle",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Directory File Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Directory File Details').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata selected File",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_BLOB_esignandestamp_file",
									"type": "DatasetReference",
									"parameters": {
										"Container": "esignandestamp",
										"Directory": {
											"value": "@pipeline().parameters.Directory",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "LKP_INSERT_blob_push_details",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Get Metadata selected File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "@concat('INSERT INTO ods_ds.tb_Stampddoc_blob_push_details\nSELECT ''',pipeline().parameters.Directory,''',''',item().NAME,''',CAST(''',activity('Get Metadata selected File').output.lastModified,''' as datetime), cast(''',activity('Get Metadata selected File').output.size,''' as bigint)  SELECT 1 AS Success')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSynapseAnalyticsTable_generic_source",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Directory": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Stamped Doc"
		},
		"annotations": [],
		"lastPublishTime": "2025-04-24T05:56:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}